{
  "start_lat": 8.9806,
  "start_lon": 38.7578,
  "disaster_radius_km": 300,
  "flight_radius_km": 600,
  "travel_mode": "driving",
  "extra_filters": null,
  "destination_file": null,
  "location_id_col": null,
  "latitude_col": null,
  "longitude_col": null,
  "GOOGLEMAPS_KEY": null
}
